<main class="form-signin text-center">
  <form #newForm="ngForm" (ngSubmit)="onSubmit(newForm)">
    <h1 class="h3 mb-3 fw-normal mx-auto">Please sign up</h1>

    <div class="alert alert-danger" *ngIf="hasError">
      Signup failed!<br />
      <strong *ngIf="!usernameIsAvailable">This username is already used!<br /></strong>
      <strong *ngIf="!emailIsAvailable">This email is already used!<br /></strong>
      <strong *ngIf="messageError?.email">{{messageError.email}}<br /></strong>
      <strong *ngIf="messageError?.username">{{messageError?.username}}<br /></strong>
      <strong *ngIf="messageError?.password">{{messageError?.password}}<br /></strong>
      <strong *ngIf="!isPasswordConfirmed && !messageError?.password">Passwords not match</strong>
    </div>

    <div class="row row-cols-2 ">
      <div class="col">
        <div class="form-floating mb-3">
          <input  ngModel name="email" type="text" class="form-control rounded-4" id="floatingEmail" placeholder="name@example.com" >
          <label for="floatingEmail">Email address*</label>
        </div>

        <div class="form-floating mb-3">
          <input  ngModel name="username" type="text" class="form-control rounded-4" id="floatingUsername" placeholder="login" >
          <label for="floatingUsername">Username*</label>
        </div>

        <div class="form-floating mb-3">
          <input  ngModel name="password" type="password" class="form-control rounded-4" id="floatingPassword" placeholder="password">
          <label for="floatingPassword">Password*</label>
        </div>

        <div class="form-floating mb-3">
          <input (ngModelChange)="isPasswordConfirmed = true" ngModel name="passwordConfirm" type="password" class="form-control rounded" id="floatingPasswordConfirm" placeholder="confirm password">
          <label for="floatingPasswordConfirm">Confirm password*</label>
        </div>
      </div>

      <div class="col">
        <div class="form-floating mb-3">
          <input  ngModel name="firstName" type="text" class="form-control rounded-4" id="floatingFirstName" placeholder="first name">
          <label for="floatingFirstName">First name</label>
        </div>

        <div class="form-floating mb-3">
          <input  ngModel name="lastName" type="text" class="form-control rounded-4" id="floatingLastName" placeholder="last name">
          <label for="floatingLastName">Last name</label>
        </div>

        <div class="form-floating mb-3">
          <input  ngModel name="phone" type="text" class="form-control rounded-4" id="floatingPhone" placeholder="Phone number">
          <label for="floatingPhone">Phone number</label>
        </div>

        <div class="form-floating mb-3">
          <input ngModel name="address" type="text" class="form-control rounded" id="floatingAddress" placeholder="Address">
          <label for="floatingAddress">Address</label>
        </div>
      </div>

    </div>

    <button class="w-50 btn btn-lg btn-primary mb-3" type="submit">Sign up</button>
  </form>
</main>
