<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <main class="form-signin text-center">
        <form #newForm="ngForm" (ngSubmit) = onSubmit(newForm)>
          <img class="mt-2 rounded-circle" src="https://автономная-канализация.kiev.ua/ru/img/avatar.jpg" alt="" width="200">
          <h1 class="h3 mb-3 fw-normal mx-auto">Please sign in</h1>
          <div class="alert alert-danger" *ngIf="errorMessage != undefined">
            <strong>{{errorMessage}}</strong>
          </div>

          <div class="form-floating mb-3">
            <input  ngModel name="username" type="text" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email or username</label>
          </div>

          <div class="form-floating mb-3">
            <input ngModel name="password" type="password" class="form-control rounded" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>


          <div class="checkbox mb-3">
            <label>
              <input ngModel name="check" type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
        </form>
      </main>
    </div>
  </div>
</div>
