<main *ngIf="!isSuccessful && !(products == undefined || products?.length <= 0)" class="form-signin text-center">
  <form #newForm="ngForm" (ngSubmit) = onSubmit(newForm)>
    <h1 class="h3 mb-3 fw-normal mx-auto">Please complete form</h1>

    <div class="form-floating mb-3">
      <input  ngModel="{{order?.firstName}}" name="firstName" type="text" class="form-control rounded-4" id="floatingFirstName" placeholder="First name">
      <label for="floatingFirstName">FirstName</label>
    </div>

    <div class="form-floating mb-3">
      <input  ngModel="{{order?.lastName}}" name="lastName" type="text" class="form-control rounded-4" id="floatingLastName" placeholder="Last name">
      <label for="floatingLastName">Last name</label>
    </div>

    <div class="form-floating mb-3">
      <input  ngModel="{{order?.email}}" name="email" type="text" class="form-control rounded-4" id="floatingEmail" placeholder="name@example.com">
      <label for="floatingEmail">Email address</label>
    </div>

    <div class="form-floating mb-3">
      <input  ngModel="{{order?.phone}}" name="phone" type="text" class="form-control rounded-4" id="floatingPhone" placeholder="Phone">
      <label for="floatingPhone">Phone number</label>
    </div>

    <div class="form-floating mb-3">
      <input ngModel="{{order?.address}}" name="address" type="text" class="form-control rounded" id="floatingAddress" placeholder="Address">
      <label for="floatingAddress">Address</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Commit</button>
  </form>
</main>


<div class="alert alert-success text-center mx-auto mt-5 w-50" *ngIf="isSuccessful">
  Your order is successful!<br>
  Order id: {{orderId}}
</div>

<div class="alert alert-danger text-center mx-auto mt-5 w-50" *ngIf="products == undefined || products?.length <= 0">
  Your basket is empty!
</div>
